openapi: 3.0.3
info:
  title: LeanMate API
  version: 0.1.0
  description: |
    LeanMate V1.1 MVP 接口契约，覆盖认证、用户档案、首页统计、饮食记录、体重记录、AI 日报和连续打卡。

    服务端会在每个响应 Header 中返回 `X-Request-Id`，用于客户端反馈问题和服务端日志排查。客户端可以传入合法 `X-Request-Id`，服务端会复用；未传或格式不合法时由服务端生成。
servers:
  - url: https://api.leanmate.app
    description: Production
  - url: https://dev-api.leanmate.app
    description: Development
  - url: http://localhost:8080
    description: Local
security:
  - bearerAuth: []
tags:
  - name: Auth
    description: 登录、刷新令牌、退出登录
  - name: Me
    description: 当前用户
  - name: Profile
    description: 用户档案和目标
  - name: Home
    description: 首页今日状态
  - name: Diet
    description: 饮食识别和饮食记录
  - name: Foods
    description: 本地基础食物库、份量和营养计算
  - name: Weight
    description: 体重记录
  - name: Sync
    description: 游客本地数据统一同步
  - name: Report
    description: AI 日报
  - name: Retention
    description: 连续打卡和里程碑弹窗
  - name: Settings
    description: 用户设置和提醒偏好
paths:
  /v1/auth/oauth-login:
    post:
      tags: [Auth]
      summary: 第三方登录
      description: V1.1 首发真实登录只支持 Apple；local/test 可使用受控 mock verifier。google 枚举仅保留后续扩展，当前返回参数错误。
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuthLoginRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiAuthTokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/auth/refresh:
    post:
      tags: [Auth]
      summary: 刷新访问令牌
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiAuthTokenResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/auth/logout:
    post:
      tags: [Auth]
      summary: 退出登录
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogoutRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiEmptyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/me:
    get:
      tags: [Me]
      summary: 获取当前用户
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiCurrentUserResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/profile:
    get:
      tags: [Profile]
      summary: 获取当前用户档案
      responses:
        "200":
          description: 成功。未完成档案时 data.profile 可为空。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUserProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [Profile]
      summary: 创建或更新当前用户档案
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveUserProfileRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUserProfileResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/profile/calorie-target-suggestion:
    get:
      tags: [Profile]
      summary: 获取热量目标调整建议
      description: 基于最近 14 天体重趋势给出建议，不会自动修改用户当前目标。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiCalorieTargetSuggestionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/profile/plan-overview:
    get:
      tags: [Profile]
      summary: 获取数据与计划聚合视图
      description: 聚合档案、当前目标、近 30 天体重趋势和热量目标调整建议，用于“数据与计划”首页和详情页。
      responses:
        "200":
          description: 成功。未完成档案时 data.profileCompleted=false，聚合字段可为空。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiPlanOverviewResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/home/today:
    get:
      tags: [Home]
      summary: 获取首页今日状态
      parameters:
        - in: query
          name: date
          schema:
            type: string
            format: date
          description: 业务日期，不传默认用户当前业务日。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiTodayHomeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/diet/recognitions/photo:
    post:
      tags: [Diet]
      summary: 创建拍照饮食识别任务
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, mealType]
              properties:
                image:
                  type: string
                  format: binary
                mealType:
                  $ref: "#/components/schemas/MealType"
                mealDate:
                  type: string
                  format: date
                note:
                  type: string
                  maxLength: 500
                  nullable: true
      responses:
        "200":
          description: 成功。任务可能仍在 running，客户端需要支持查询任务。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiRecognitionTaskResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/AiServiceError"
  /v1/diet/recognitions/text:
    post:
      tags: [Diet]
      summary: 创建文本饮食解析任务
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TextRecognitionRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiRecognitionTaskResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/AiServiceError"
  /v1/diet/recognitions/{taskId}:
    get:
      tags: [Diet]
      summary: 查询饮食识别任务
      parameters:
        - $ref: "#/components/parameters/TaskId"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiRecognitionTaskResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/diet/entries:
    get:
      tags: [Diet]
      summary: 查询饮食记录
      description: 返回指定业务日期下未删除的 confirmed 饮食记录。
      parameters:
        - in: query
          name: date
          required: true
          schema:
            type: string
            format: date
          description: 业务日期。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiFoodEntryListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Diet]
      summary: 保存饮食记录
      description: 手动记录可直接保存；AI 草稿需用户确认后保存为正式记录。保存成功后返回记录和刷新后的当日统计快照。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveFoodEntryRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiFoodEntrySaveResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/diet/entries/sync-local:
    post:
      tags: [Diet]
      summary: 同步游客本地饮食记录
      description: 用户登录后批量导入游客模式下保存在本地的 confirmed 饮食记录。后端必须按当前用户和 clientLocalId 幂等处理，避免重试造成重复记录。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncLocalDietEntriesRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSyncLocalDietEntriesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/diet/entries/{entryId}:
    put:
      tags: [Diet]
      summary: 编辑饮食记录
      description: 编辑 confirmed 记录后重新计算营养汇总，并刷新对应日期统计快照。
      parameters:
        - $ref: "#/components/parameters/EntryId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveFoodEntryRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiFoodEntrySaveResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Diet]
      summary: 删除饮食记录
      description: V1.1 使用软删除，并刷新当日统计快照。
      parameters:
        - $ref: "#/components/parameters/EntryId"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiEmptyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/foods/search:
    get:
      tags: [Foods]
      summary: 搜索本地基础食物库
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
          description: 搜索关键词。
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
          description: 返回数量，不传默认 10。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiFoodSearchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/foods/{foodId}:
    get:
      tags: [Foods]
      summary: 获取食物详情
      parameters:
        - in: path
          name: foodId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiFoodDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/foods/calculate:
    post:
      tags: [Foods]
      summary: 计算食物营养值
      description: 按 foodId + weightG 或 foodId + portionId 计算营养值。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalculateFoodNutritionRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiFoodNutritionCalculationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/weights:
    get:
      tags: [Weight]
      summary: 查询体重记录
      description: 查询区间最大跨度为 180 天。
      parameters:
        - in: query
          name: startDate
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: endDate
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiWeightEntryListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Weight]
      summary: 保存体重记录
      description: V1.1 同一天同一用户只保留一条记录，重复提交则覆盖；记录日期不能晚于用户本地今天。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveWeightEntryRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiWeightEntrySaveResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/weights/trend:
    get:
      tags: [Weight]
      summary: 获取体重趋势
      description: 返回最近 N 天体重趋势聚合和图表点位。days 不传默认 30，后端限制在 7-180。
      parameters:
        - in: query
          name: days
          required: false
          schema:
            type: integer
            minimum: 7
            maximum: 180
            default: 30
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiWeightTrendResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/sync/local:
    post:
      tags: [Sync]
      summary: 统一同步游客本地数据
      description: 登录后一次性同步游客模式下的身体档案、体重记录和饮食记录；部分失败不影响其他类别。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncLocalRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSyncLocalResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/reports/daily:
    get:
      tags: [Report]
      summary: 获取 AI 日报
      parameters:
        - in: query
          name: date
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: 成功。未生成时报表 data 可为空或 status 为 pending，按实现选择并保持一致。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiDailyReportResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Report]
      summary: 手动触发 AI 日报生成或重试
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateDailyReportRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiDailyReportResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/AiServiceError"
  /v1/reports/daily/{reportId}/view:
    post:
      tags: [Report]
      summary: 标记 AI 日报已查看
      parameters:
        - $ref: "#/components/parameters/ReportId"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiDailyReportResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/retention/streak:
    get:
      tags: [Retention]
      summary: 获取连续打卡状态
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiStreakResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/retention/milestone-notices:
    get:
      tags: [Retention]
      summary: 获取待展示里程碑弹窗
      description: 只返回未关闭的里程碑 notice，客户端展示后调用 dismiss 接口关闭。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiRetentionNoticeListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/retention/milestone-notices/{noticeId}/dismiss:
    post:
      tags: [Retention]
      summary: 关闭里程碑弹窗
      parameters:
        - $ref: "#/components/parameters/NoticeId"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiEmptyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/settings:
    get:
      tags: [Settings]
      summary: 获取用户设置
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUserSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [Settings]
      summary: 保存用户设置
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserSettings"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUserSettingsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    EntryId:
      in: path
      name: entryId
      required: true
      schema:
        type: string
        format: uuid
    TaskId:
      in: path
      name: taskId
      required: true
      schema:
        type: string
        format: uuid
    ReportId:
      in: path
      name: reportId
      required: true
      schema:
        type: string
        format: uuid
    NoticeId:
      in: path
      name: noticeId
      required: true
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: 参数错误
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorResponse"
          example:
            code: 40001
            message: 参数错误
            data: null
    Unauthorized:
      description: 未登录或 token 无效
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorResponse"
          example:
            code: 40101
            message: 未登录或登录已过期
            data: null
    Forbidden:
      description: 无权限访问资源
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorResponse"
          example:
            code: 40301
            message: 无权限访问该资源
            data: null
    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorResponse"
          example:
            code: 40401
            message: 资源不存在
            data: null
    Conflict:
      description: 状态冲突
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorResponse"
          example:
            code: 40901
            message: 当前状态不允许执行该操作
            data: null
    InternalServerError:
      description: 服务端错误
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorResponse"
          example:
            code: 50001
            message: 服务端错误
            data: null
    AiServiceError:
      description: AI 服务调用失败
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorResponse"
          example:
            code: 50010
            message: AI 服务暂时不可用
            data: null
  schemas:
    ApiErrorResponse:
      type: object
      required: [code, message, data]
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          nullable: true
    ApiEmptyResponse:
      type: object
      required: [code, message, data]
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: success
        data:
          nullable: true
    ApiAuthTokenResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/AuthToken"
    ApiCurrentUserResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/CurrentUser"
    ApiUserProfileResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/ProfilePayload"
    ApiCalorieTargetSuggestionResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/CalorieTargetSuggestion"
    ApiPlanOverviewResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/PlanOverview"
    ApiTodayHomeResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/TodayHome"
    ApiRecognitionTaskResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/RecognitionTask"
    ApiFoodEntryListResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/FoodEntry"
    ApiFoodEntrySaveResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/FoodEntrySaveResult"
    ApiSyncLocalDietEntriesResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/SyncLocalDietEntriesResult"
    ApiFoodSearchResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/FoodSearchResult"
    ApiFoodDetailResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/FoodDetail"
    ApiFoodNutritionCalculationResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/FoodNutritionCalculation"
    ApiWeightEntryListResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/WeightEntry"
    ApiWeightEntrySaveResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/WeightEntrySaveResult"
    ApiWeightTrendResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/WeightTrend"
    ApiSyncLocalResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/SyncLocalResult"
    ApiDailyReportResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              nullable: true
              allOf:
                - $ref: "#/components/schemas/DailyReport"
    ApiStreakResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/Streak"
    ApiRetentionNoticeListResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/RetentionNotice"
    ApiUserSettingsResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          required: [data]
          properties:
            data:
              $ref: "#/components/schemas/UserSettings"
    ApiResponse:
      type: object
      required: [code, message, data]
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: success
        data:
          nullable: true
    OAuthLoginRequest:
      type: object
      required: [provider, identityToken]
      properties:
        provider:
          type: string
          enum: [apple, google]
          description: V1.1 当前只支持 apple；google 保留后续扩展。
        identityToken:
          type: string
        authorizationCode:
          type: string
          nullable: true
        deviceId:
          type: string
          nullable: true
    RefreshTokenRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
    LogoutRequest:
      type: object
      properties:
        refreshToken:
          type: string
          nullable: true
    AuthToken:
      type: object
      required: [accessToken, refreshToken, tokenType, expiresIn, user, profileCompleted]
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        tokenType:
          type: string
          example: Bearer
        expiresIn:
          type: integer
          description: accessToken 剩余有效秒数。
        user:
          $ref: "#/components/schemas/CurrentUser"
        profileCompleted:
          type: boolean
    CurrentUser:
      type: object
      required: [id, status, profileCompleted, createdAt]
      properties:
        id:
          type: string
          format: uuid
        nickname:
          type: string
          nullable: true
        avatarUrl:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, disabled, deleted]
        profileCompleted:
          type: boolean
        createdAt:
          type: string
          format: date-time
    SaveUserProfileRequest:
      type: object
      required: [gender, age, heightCm, currentWeightKg, targetWeightKg, activityLevel, timezone]
      properties:
        gender:
          type: string
          enum: [male, female, unknown]
        age:
          type: integer
          minimum: 1
          maximum: 120
        heightCm:
          type: number
          minimum: 50
          maximum: 250
        currentWeightKg:
          type: number
          minimum: 20
          maximum: 300
        targetWeightKg:
          type: number
          minimum: 20
          maximum: 300
        goalType:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/GoalType"
        activityLevel:
          type: string
          enum: [sedentary, light, moderate, active, very_active]
        timezone:
          type: string
          example: Asia/Shanghai
        targetDate:
          type: string
          format: date
          nullable: true
    ProfilePayload:
      type: object
      required: [profileCompleted]
      properties:
        profileCompleted:
          type: boolean
        profile:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/UserProfile"
    UserProfile:
      allOf:
        - $ref: "#/components/schemas/SaveUserProfileRequest"
        - type: object
          required: [goalType, bmi, bmrKcal, dailyCalorieTargetKcal]
          properties:
            bmi:
              type: number
            bmrKcal:
              type: integer
            dailyCalorieTargetKcal:
              type: integer
            weeklyTargetWeightChangeKg:
              type: number
              nullable: true
    CalorieTargetSuggestion:
      type: object
      required:
        - status
        - currentTargetKcal
        - suggestedTargetKcal
        - changeKcal
        - reason
        - requiresUserConfirmation
        - trendDays
      properties:
        status:
          type: string
          enum: [insufficient_data, not_applicable, on_track, suggest_lower, suggest_higher, at_safety_floor]
        currentTargetKcal:
          type: integer
        suggestedTargetKcal:
          type: integer
        changeKcal:
          type: integer
        reason:
          type: string
        requiresUserConfirmation:
          type: boolean
        trendDays:
          type: integer
          example: 14
        startAverageWeightKg:
          type: number
          nullable: true
        endAverageWeightKg:
          type: number
          nullable: true
        weeklyWeightChangeKg:
          type: number
          nullable: true
    PlanOverview:
      type: object
      required: [profileCompleted]
      properties:
        profileCompleted:
          type: boolean
        displayName:
          type: string
          nullable: true
        profile:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/PlanOverviewProfile"
        goal:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/PlanOverviewGoal"
        weightTrend:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/PlanOverviewWeightTrend"
        calorieAdjustment:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/PlanOverviewCalorieAdjustment"
    PlanOverviewProfile:
      type: object
      required: [gender, age, heightCm, currentWeightKg, targetWeightKg, activityLevel, activityLevelLabel, bmi, bmrKcal]
      properties:
        gender:
          type: string
          enum: [male, female, unknown]
        age:
          type: integer
        heightCm:
          type: number
        currentWeightKg:
          type: number
        targetWeightKg:
          type: number
        activityLevel:
          type: string
          enum: [sedentary, light, moderate, active, very_active]
        activityLevelLabel:
          type: string
        bmi:
          type: number
        bmrKcal:
          type: integer
    PlanOverviewGoal:
      type: object
      required:
        - goalType
        - startWeightKg
        - targetWeightKg
        - remainingWeightKg
        - dailyCalorieTargetKcal
        - estimatedActivityEnergyKcal
        - status
      properties:
        goalType:
          $ref: "#/components/schemas/GoalType"
        startWeightKg:
          type: number
        targetWeightKg:
          type: number
        remainingWeightKg:
          type: number
        targetDate:
          type: string
          format: date
          nullable: true
        dailyCalorieTargetKcal:
          type: integer
        estimatedActivityEnergyKcal:
          type: integer
        weeklyTargetWeightChangeKg:
          type: number
          nullable: true
        status:
          type: string
          enum: [active, completed, cancelled]
    PlanOverviewWeightTrend:
      type: object
      required: [windowDays, direction]
      properties:
        windowDays:
          type: integer
        startWeightKg:
          type: number
          nullable: true
        latestWeightKg:
          type: number
          nullable: true
        changeKg:
          type: number
          nullable: true
        direction:
          $ref: "#/components/schemas/WeightTrendDirection"
    PlanOverviewCalorieAdjustment:
      type: object
      required: [action, suggestedDailyCalorieTargetKcal, message]
      properties:
        action:
          type: string
          enum: [insufficient_data, not_applicable, on_track, suggest_lower, suggest_higher, at_safety_floor]
        suggestedDailyCalorieTargetKcal:
          type: integer
        message:
          type: string
    TodayHome:
      type: object
      required:
        - date
        - profileCompleted
        - calorieTargetKcal
        - caloriesInKcal
        - remainingCaloriesKcal
        - streakDays
        - foodEntries
      properties:
        date:
          type: string
          format: date
        profileCompleted:
          type: boolean
        calorieTargetKcal:
          type: integer
        caloriesInKcal:
          type: integer
        remainingCaloriesKcal:
          type: integer
        proteinG:
          type: number
        fatG:
          type: number
        carbsG:
          type: number
        currentWeightKg:
          type: number
          nullable: true
        streakDays:
          type: integer
        reportSummary:
          type: string
          nullable: true
        foodEntries:
          type: array
          items:
            $ref: "#/components/schemas/FoodEntrySummary"
    TextRecognitionRequest:
      type: object
      required: [text, mealType]
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 1000
        mealType:
          $ref: "#/components/schemas/MealType"
        mealDate:
          type: string
          format: date
    RecognitionTask:
      type: object
      required: [id, sourceType, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        sourceType:
          type: string
          enum: [photo, text]
        mealDate:
          type: string
          format: date
          nullable: true
        mealType:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/MealType"
        status:
          type: string
          enum: [pending, running, succeeded, failed]
        draftEntry:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/FoodEntryDraft"
        errorCode:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
          nullable: true
    SaveFoodEntryRequest:
      type: object
      required: [mealDate, mealType, sourceType, items]
      properties:
        recognitionTaskId:
          type: string
          format: uuid
          nullable: true
        mealDate:
          type: string
          format: date
        mealType:
          $ref: "#/components/schemas/MealType"
        sourceType:
          type: string
          enum: [photo, text, manual]
        rawText:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
        items:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/SaveFoodItemRequest"
    SyncLocalDietEntriesRequest:
      type: object
      required: [entries]
      properties:
        entries:
          type: array
          minItems: 1
          maxItems: 200
          items:
            $ref: "#/components/schemas/LocalDietEntrySyncItem"
    LocalDietEntrySyncItem:
      type: object
      required: [clientLocalId, entry, createdAt, updatedAt]
      properties:
        clientLocalId:
          type: string
          format: uuid
          description: 客户端游客模式下生成并持久化的本地记录 ID。后端按当前用户和该字段幂等导入。
        entry:
          $ref: "#/components/schemas/SaveFoodEntryRequest"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SyncLocalDietEntriesResult:
      type: object
      required: [importedEntries, skippedClientLocalIds, failedItems, snapshots]
      properties:
        importedEntries:
          type: array
          description: 本次新导入或已幂等匹配到的服务端饮食记录。
          items:
            $ref: "#/components/schemas/FoodEntry"
        skippedClientLocalIds:
          type: array
          description: 已存在且无需重复导入的本地记录 ID。
          items:
            type: string
            format: uuid
        failedItems:
          type: array
          description: 单条导入失败明细。非空时客户端应保留这些本地记录等待修正或重试。
          items:
            $ref: "#/components/schemas/LocalDietEntrySyncFailure"
        snapshots:
          type: array
          description: 所有受影响业务日期刷新后的营养统计快照。
          items:
            $ref: "#/components/schemas/DailyNutritionSnapshot"
    LocalDietEntrySyncFailure:
      type: object
      required: [clientLocalId, code, message]
      properties:
        clientLocalId:
          type: string
          format: uuid
        code:
          type: string
          example: invalid_food_item
        message:
          type: string
    SyncLocalRequest:
      type: object
      properties:
        profile:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/LocalProfileSyncRequest"
        weightEntries:
          type: array
          maxItems: 200
          items:
            $ref: "#/components/schemas/SyncLocalWeightEntryRequest"
        dietEntries:
          type: array
          maxItems: 200
          items:
            $ref: "#/components/schemas/LocalDietEntrySyncItem"
    LocalProfileSyncRequest:
      type: object
      required: [clientLocalId, updatedAt, data]
      properties:
        clientLocalId:
          type: string
          format: uuid
        updatedAt:
          type: string
          format: date-time
        data:
          $ref: "#/components/schemas/SaveUserProfileRequest"
    SyncLocalWeightEntryRequest:
      type: object
      required: [clientLocalId, recordDate, weightKg, createdAt, updatedAt]
      properties:
        clientLocalId:
          type: string
          format: uuid
        recordDate:
          type: string
          format: date
        weightKg:
          type: number
          minimum: 20
          maximum: 300
        note:
          type: string
          maxLength: 500
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SyncLocalResult:
      type: object
      required: [profile, dietEntries, weightEntries, refreshedDates]
      properties:
        profile:
          $ref: "#/components/schemas/SyncProfileResult"
        dietEntries:
          $ref: "#/components/schemas/SyncCategoryResult"
        weightEntries:
          $ref: "#/components/schemas/SyncCategoryResult"
        refreshedDates:
          type: array
          items:
            type: string
            format: date
    SyncProfileResult:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [not_provided, imported, skipped, failed]
        message:
          type: string
          nullable: true
        profile:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/UserProfile"
    SyncCategoryResult:
      type: object
      required: [importedCount, skippedCount, failedItems]
      properties:
        importedCount:
          type: integer
        skippedCount:
          type: integer
        failedItems:
          type: array
          items:
            $ref: "#/components/schemas/SyncItemFailure"
    SyncItemFailure:
      type: object
      required: [clientLocalId, code, message]
      properties:
        clientLocalId:
          type: string
          format: uuid
          nullable: true
        code:
          type: string
        message:
          type: string
    SaveFoodItemRequest:
      type: object
      required: [name]
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        foodId:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
          minLength: 1
          maxLength: 128
        quantityText:
          type: string
          maxLength: 128
          nullable: true
        weightG:
          type: number
          minimum: 0
          exclusiveMinimum: true
          maximum: 10000
          nullable: true
        caloriesKcal:
          type: integer
          minimum: 0
          maximum: 5000
          nullable: true
        proteinG:
          type: number
          minimum: 0
          maximum: 1000
          nullable: true
        fatG:
          type: number
          minimum: 0
          maximum: 1000
          nullable: true
        carbsG:
          type: number
          minimum: 0
          maximum: 1000
          nullable: true
        confidence:
          type: number
          nullable: true
        userEdited:
          type: boolean
          default: false
        nutritionSource:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/NutritionSource"
    CalculateFoodNutritionRequest:
      type: object
      required: [foodId]
      properties:
        foodId:
          type: string
          format: uuid
        weightG:
          type: number
          minimum: 0
          exclusiveMinimum: true
          maximum: 10000
          nullable: true
        portionId:
          type: string
          format: uuid
          nullable: true
    FoodPortion:
      type: object
      required: [id, label, gramWeight, defaultPortion]
      properties:
        id:
          type: string
          format: uuid
        label:
          type: string
        gramWeight:
          type: number
        defaultPortion:
          type: boolean
    FoodNutrition:
      type: object
      required: [caloriesKcal, proteinG, fatG, carbsG]
      properties:
        caloriesKcal:
          type: integer
        proteinG:
          type: number
        fatG:
          type: number
        carbsG:
          type: number
    FoodSearchResult:
      type: object
      required:
        - id
        - name
        - category
        - caloriesPer100g
        - proteinPer100g
        - fatPer100g
        - carbsPer100g
        - source
        - confidence
        - verified
        - estimateBasis
        - displayHint
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        category:
          type: string
        caloriesPer100g:
          type: integer
        proteinPer100g:
          type: number
        fatPer100g:
          type: number
        carbsPer100g:
          type: number
        source:
          $ref: "#/components/schemas/FoodCatalogSource"
        confidence:
          type: number
        verified:
          type: boolean
        defaultPortion:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/FoodPortion"
        estimatedNutrition:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/FoodNutrition"
        estimateBasis:
          type: string
          enum: [default_portion, per_100g]
        displayHint:
          type: string
    FoodDetail:
      type: object
      required:
        - id
        - name
        - category
        - caloriesPer100g
        - proteinPer100g
        - fatPer100g
        - carbsPer100g
        - source
        - confidence
        - verified
        - aliases
        - portions
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        category:
          type: string
        caloriesPer100g:
          type: integer
        proteinPer100g:
          type: number
        fatPer100g:
          type: number
        carbsPer100g:
          type: number
        source:
          $ref: "#/components/schemas/FoodCatalogSource"
        confidence:
          type: number
        verified:
          type: boolean
        aliases:
          type: array
          items:
            type: string
        portions:
          type: array
          items:
            $ref: "#/components/schemas/FoodPortion"
    FoodNutritionCalculation:
      type: object
      required: [foodId, name, weightG, caloriesKcal, proteinG, fatG, carbsG, estimateBasis]
      properties:
        foodId:
          type: string
          format: uuid
        name:
          type: string
        weightG:
          type: number
        caloriesKcal:
          type: integer
        proteinG:
          type: number
        fatG:
          type: number
        carbsG:
          type: number
        estimateBasis:
          type: string
          enum: [weight, portion]
    FoodEntryDraft:
      type: object
      required: [mealDate, mealType, sourceType, items]
      properties:
        mealDate:
          type: string
          format: date
        mealType:
          $ref: "#/components/schemas/MealType"
        sourceType:
          type: string
          enum: [photo, text]
        items:
          type: array
          items:
            $ref: "#/components/schemas/FoodItem"
    FoodEntry:
      type: object
      required:
        - id
        - mealDate
        - mealType
        - sourceType
        - status
        - totalCaloriesKcal
        - totalProteinG
        - totalFatG
        - totalCarbsG
        - items
      properties:
        id:
          type: string
          format: uuid
        recognitionTaskId:
          type: string
          format: uuid
          nullable: true
        mealDate:
          type: string
          format: date
        mealType:
          $ref: "#/components/schemas/MealType"
        sourceType:
          type: string
          enum: [photo, text, manual]
        rawText:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
        status:
          type: string
          enum: [draft, confirmed, deleted]
        totalCaloriesKcal:
          type: integer
        totalProteinG:
          type: number
        totalFatG:
          type: number
        totalCarbsG:
          type: number
        items:
          type: array
          items:
            $ref: "#/components/schemas/FoodItem"
        createdAt:
          type: string
          format: date-time
    FoodEntrySummary:
      type: object
      required: [id, mealType, totalCaloriesKcal, itemNames]
      properties:
        id:
          type: string
          format: uuid
        mealType:
          $ref: "#/components/schemas/MealType"
        totalCaloriesKcal:
          type: integer
        itemNames:
          type: array
          items:
            type: string
    FoodEntrySaveResult:
      type: object
      required: [entry, today]
      properties:
        entry:
          $ref: "#/components/schemas/FoodEntry"
        today:
          $ref: "#/components/schemas/DailyNutritionSnapshot"
    FoodItem:
      type: object
      required: [id, name, userEdited]
      properties:
        id:
          type: string
          format: uuid
        foodId:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        quantityText:
          type: string
          nullable: true
        weightG:
          type: number
          nullable: true
        caloriesKcal:
          type: integer
          nullable: true
        proteinG:
          type: number
          nullable: true
        fatG:
          type: number
          nullable: true
        carbsG:
          type: number
          nullable: true
        confidence:
          type: number
          nullable: true
        userEdited:
          type: boolean
        nutritionSource:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/NutritionSource"
    SaveWeightEntryRequest:
      type: object
      required: [recordDate, weightKg]
      properties:
        recordDate:
          type: string
          format: date
        weightKg:
          type: number
          minimum: 20
          maximum: 300
        note:
          type: string
          maxLength: 500
          nullable: true
    WeightEntry:
      allOf:
        - $ref: "#/components/schemas/SaveWeightEntryRequest"
        - type: object
          required: [id, createdAt]
          properties:
            id:
              type: string
              format: uuid
            clientLocalId:
              type: string
              format: uuid
              nullable: true
            createdAt:
              type: string
              format: date-time
    WeightEntrySaveResult:
      type: object
      required: [entry, today]
      properties:
        entry:
          $ref: "#/components/schemas/WeightEntry"
        today:
          $ref: "#/components/schemas/DailyNutritionSnapshot"
    WeightTrend:
      type: object
      required: [windowDays, direction, points]
      properties:
        windowDays:
          type: integer
        targetWeightKg:
          type: number
          nullable: true
        startWeightKg:
          type: number
          nullable: true
        latestWeightKg:
          type: number
          nullable: true
        changeKg:
          type: number
          nullable: true
        direction:
          $ref: "#/components/schemas/WeightTrendDirection"
        points:
          type: array
          items:
            $ref: "#/components/schemas/WeightTrendPoint"
    WeightTrendPoint:
      type: object
      required: [date, weightKg, isToday]
      properties:
        date:
          type: string
          format: date
        weightKg:
          type: number
        isToday:
          type: boolean
    DailyNutritionSnapshot:
      type: object
      required:
        - date
        - calorieTargetKcal
        - caloriesKcal
        - remainingCaloriesKcal
        - proteinG
        - fatG
        - carbsG
        - foodEntryCount
      properties:
        date:
          type: string
          format: date
        calorieTargetKcal:
          type: integer
        caloriesKcal:
          type: integer
        remainingCaloriesKcal:
          type: integer
        proteinG:
          type: number
        fatG:
          type: number
        carbsG:
          type: number
        foodEntryCount:
          type: integer
        weightKg:
          type: number
          nullable: true
    GenerateDailyReportRequest:
      type: object
      properties:
        date:
          type: string
          format: date
    DailyReport:
      type: object
      required: [id, reportDate, status]
      properties:
        id:
          type: string
          format: uuid
        reportDate:
          type: string
          format: date
        score:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
        summary:
          type: string
          nullable: true
        problem:
          type: string
          nullable: true
        suggestion:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, generated, viewed, failed]
        generatedAt:
          type: string
          format: date-time
          nullable: true
        viewedAt:
          type: string
          format: date-time
          nullable: true
    Streak:
      type: object
      required: [currentDays, longestDays, milestones]
      properties:
        currentDays:
          type: integer
        longestDays:
          type: integer
        lastActiveDate:
          type: string
          format: date
          nullable: true
        milestones:
          type: array
          items:
            $ref: "#/components/schemas/StreakMilestone"
    StreakMilestone:
      type: object
      required: [days, achieved]
      properties:
        days:
          type: integer
          enum: [3, 7, 12, 30, 100]
        achieved:
          type: boolean
        achievedAt:
          type: string
          format: date-time
          nullable: true
    RetentionNotice:
      type: object
      required: [id, type, title, currentValue, triggeredAt]
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [streak]
        title:
          type: string
        message:
          type: string
          nullable: true
        currentValue:
          type: integer
        previousValue:
          type: integer
          nullable: true
        nextValue:
          type: integer
          nullable: true
        triggeredAt:
          type: string
          format: date-time
    UserSettings:
      type: object
      properties:
        mealReminderEnabled:
          type: boolean
        mealReminderTimes:
          type: array
          maxItems: 8
          items:
            type: string
            pattern: "^\\d{2}:\\d{2}$"
          example: ["08:30", "12:30", "18:30"]
        milestoneNoticeEnabled:
          type: boolean
        autoSyncEnabled:
          type: boolean
    MealType:
      type: string
      enum: [breakfast, lunch, dinner, snack]
    GoalType:
      type: string
      enum: [lose_weight, gain_weight, maintain]
    WeightTrendDirection:
      type: string
      enum: [decreasing, increasing, flat]
    NutritionSource:
      type: string
      enum: [food_db, ai_estimated, user_confirmed, user_override]
    FoodCatalogSource:
      type: string
      enum: [curated, usda, open_food_facts, vendor, ai_estimated]
